


.carousel-inner .carousel-item img{
    width: 100%;
    height: 600px;
}

.username{
    margin: 1em auto auto;
}
.password{
    margin: 0.5em auto auto;
}

.star-black{
    display:inline;
}

.star-black:after{
    content: ' \2605'
}

.star-white{
    display:inline;
}

.star-white:after{
    content: ' \2606'
}

.account-button{
    margin-bottom: 3px;
}